div.underbox{
        		width: 800px;
        		height: 100px;
        		background-color: grey;
        	}
       		div.game{
	                width: 800px;
	                height: 500px;
	                background-color: grey;
	                background-image: url(http://www.crazymatt.net/games/egg/main.png);
	                background-size: 300px 300px;
	                text-align: center;
	                background-repeat: no-repeat;
	                background-position: center;
	                animation-name: game; /* Chrome, Safari, Opera */
	                animation-duration: 3s; /* Chrome, Safari, Opera */
	                animation-iteration-count: infinite;
        	 }
            	div.game2{
	                width: 800px;
	                height: 500px;
	                background-color: lightgrey;
	                text-align: center;                
	                //background-image: url(http://www.crazymatt.net/games/egg/level1.png);
	                //background-size: 800px 500px;
            	}
            	h1.game{
	                color: green;
	                font-family: lucida console;
	                font-size: 50;
	                position: relative;
	                top: 30px;
			animation-name: gameh1;
	                animation-duration: 10s;
	                animation-iteration-count: infinite;
            	}
            	h2.game{
        		 color: green;
        		  font-family: lucida console;
        		 font-size: 30;
        		 position: relative;
        		 text-align: left;
        		 left: 30px;
			animation-name: gameh1;
        		 animation-duration: 10s;
                	animation-iteration-count: infinite;
            }
		@keyframes gameh1 {
			0% {transform: rotate(5deg);}
			50% {transform: rotate(-5deg);}
			100% {transform: rotate(5deg);}
		}
            @keyframes game {
                0% {background-color: pink;}
                25% {background-color: #66FF99;}
                50% {background-color: yellow;}
                75% {background-color: #33CCFF;}
                100% {background-color: pink;}
            }
            button.start{
                position: relative;
                top: 300px;
            }
            h3.level1{
                color: green;
                font-family: lucida console;
                font-size: 20px;
                position: relative;
                top: 225px;
            }
            h3.level1norm{
                color: green;
                font-family: lucida console;
                font-size: 20px;
                position: relative;
                top: 10px;
				animation-name: gameh1;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }
            button.s1{
                position: relative;
                top: 266;
                left: -230;
		background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
		border: none;
		height: 48px;
		background-position: center;
		width: 48px;
            }
            button.s2{
                position: relative;
                top: 266;
                left: -114;
		background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
		border: none;
		height: 48px;
		background-position: center;
		width: 48px;
            }
            button.s3{
                position: relative;
                top: 266;
                left: 2;
		background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
		border: none;
		height: 48px;
		background-position: center;
		width: 48px;
            }
            button.s4{
                position: relative;
                top: 266;
                left: 118;
		background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
		border: none;
		height: 48px;
		background-position: center;
		width: 48px;
            }
            button.s5{
                position: relative;
                top: 266;
                left: 234;
                border: no;
		background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
		border: none;
		height: 48px;
		background-position: center;
		width: 48px;
            }
            div.level1{
                width: 800px;
                height: 500px;
                background-color: lightgreen;
                text-align: center;
                background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 300px 300px;
                background-repeat: no-repeat;
                background-position: 350px 100px;
            }
            div.lvl1side{
                width: 200px;
                height: 500px;
                background-color: lightgrey;
                text-align: center;
            }
            div.level2{
                width: 800px;
                height: 500px;
                background-color: grey;
                text-align: left;
            }
            div.lvl2egg{
                height: 500px;
                width: 800px;
                background-color: lightyellow;
                text-align: center;
            }
            div.void{
                height: 250px;
                width: 100px;
                position: fixed;
                background-color: blue;
                top: 100px;
                left: 600px;
                background: -webkit-linear-gradient(grey, black); /* For Safari 5.1 to 6.0 */
                background: -o-linear-gradient(grey, black); /* For Opera 11.1 to 12.0 */
                background: -moz-linear-gradient(grey, black); /* For Firefox 3.6 to 15 */
                background: linear-gradient(grey, black); /* Standard syntax */
            }
		button.egg-start{
		position: relative;
                top: 300px;
				background-image: url(http://www.crazymatt.net/games/egg/main.png);
                background-size: 48px 48px;
                background-repeat: no-repeat;
				border: none;
				height: 48px;
				background-position: center;
				animation-name: game;
                animation-duration: 3s;
                animation-iteration-count: infinite;
			}
